
@{
    ViewBag.Title = "DetailsMusic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="portfolio spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div>
                    <img class="ui medium rounded image" style="height: 200px; width: 200px; border: 1px solid black" src="~/Images/Category/notImg.png">
                </div>
                <div>
                    <center>
                        <audio controls  style="width: 70%; height: 40px  !important">
                            <source src="horse.mp3" type="audio/mpeg">
                        </audio>
                    </center>
                </div>
            </div>
        </div>
            <div class="col-lg-4">

            </div>
        </div>
</section>
    

